<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>베스트셀러</title>
</head>

<body>


    <ul style="display: flex; list-style: none;">
      <li style="display: block; padding: 10px; border: 1px solid #000;" onclick="bestSellerCategory('BestSeller','bs',1)">종합</li>
      <li style="display: block; padding: 10px; border: 1px solid #000;" onclick="bestSellerCategory('RealTimeBestSeller','rtbs',1)">실시간</li>
      <li style="display: block; padding: 10px; border: 1px solid #000;" onclick="bestSellerCategory('DayBestSeller','dbs',1)">일별</li>
      <li style="display: block; padding: 10px; border: 1px solid #000;" onclick="bestSellerCategory('MonthWeekBestSeller','mbs',1)" >월별/주별</li>
      <li style="display: block; padding: 10px; border: 1px solid #000;" onclick="bestSellerCategory('HotPriceBestSeller','hpbs',1)">특가</li>
      <li  style="display: block; padding: 10px; border: 1px solid #000;" onclick="bestSellerCategory('SteadySeller','ss',1)" >스테디셀러</li>
    </ul>

    <h2></h2>

    <ul id="list"></ul>



    <script>
      const bestSellerCategory = (categoryName,bs_id,page)=>{
        let url = '/'+ categoryName +'/'+bs_id+'/'+page
        fetch(url)
          .then(response=>response.json())
          .then(bestSellerList=>{
            document.querySelector('h2').innerHTML= bestSellerList.list[0].bs_title
            document.querySelector('#list').innerHTML=''
            bestSellerList.list.forEach(book => {
              document.querySelector('#list').insertAdjacentHTML('beforeend',`
                <li>
                  <h3>${book.bname} <span>${book.bname_comment}</span></h3>
                  <p>${book.author} | ${book.publisher} | ${book.pdate} </p>
                  <p>${book.translator}</p>
                  <p>${book.price}</p>
                  <span>${book.dc}%할인</span>
                </li>
              `)
            });
          })
      }

      bestSellerCategory('BestSeller','bs',1)

    </script>
</body>

</html>